
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

packages/
*.nupkg

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

appsettings.local.json
*.local.json
secrets.json

Thumbs.db
.DS_Store
